<!-- 
Example launch file: uses laser_scan_matcher together with
slam_gmapping 
-->

<launch>
  <include file="bringup/clock_server.launch" />
  <!--<param name="/use_sim_time" value="true"/>-->

  <!-- taken from laser_scan_matcher demo -->

<!--
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_footprint /base_link 40" />
-->

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /base_footprint 40" />

  <node pkg="tf" type="static_transform_publisher" name="base__to_laser" 
    args="0.0 0.0 0.05 0.0 0.0 0.0 /base_footprint /laser 40" />




  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" 
    name="laser_scan_matcher_node" output="screen">

    <param name="fixed_frame" value = "odom"/>
    <param name="max_iterations" value="10"/>

  </node>

</launch>
